@import 'vars';

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  background-color: $cBase;
}
.section {
  width: 100%;
  height: 100vh;
  position: relative;
}
.tiltbtn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 300px;
  height: $hBtn;
  border-radius: $rBtn;
  box-shadow: 10px 10px 10px $cDark, -10px -10px 10px $cLight;
  transform-style: preserve-3d;
  perspective: 400px;
  transform: scale3d(1.1, 1.1, 1.1) rotateX(20deg) rotateY(20deg);
  transition: transform 0.3s ease;
  &:hover {
    .tiltbtn__link {
      transform: translateZ(40px);
    }
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: $hBtn;
    font-family: 'Saira', sans-serif;
    color: $cDark;
    font-size: 3.2rem;
    text-decoration: none;
    transition: transform 0.3s ease;
  }
}
