@import 'vars';

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  background-color: $cBase;
}
.section {
  width: 100%;
  height: 100vh;
  position: relative;
}
.tiltbtn {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 300px;
  height: $sBtn;
  background-color: $cBase;
  border-radius: $rBtn;
  box-shadow: 10px 10px 10px $cDark, -10px -10px 10px $cLight;
  transform-style: preserve-3d;
  perspective: 400px;
  transform: scale3d(1, 1, 1) rotateX(0) rotateY(0);
  transition: transform $tTransition ease, background-color $tTransition ease,
    box-shadow $tTransition ease;
  @media (hover: hover) {
    &:hover {
      background-color: $cHover;
      .tiltbtn__link {
        color: $cHoverText;
        transform: translateZ(40px);
      }
    }
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: $sBtn;
    font-family: 'Saira', sans-serif;
    color: $cDark;
    font-size: 3.8rem;
    text-decoration: none;
    transition: transform $tTransition ease, color $tTransition ease;
  }
}
@media screen and (max-width: ($sBtn + 100px)) {
  .tiltbtn {
    width: $sBtnSp;
    height: $sBtnSp;
    &__link {
      font-size: 10vw;
      line-height: $sBtnSp;
    }
  }
}
